//=======================================
// Fonts
//=======================================

@font-face {
  font-family: "fontello";
  src: url("../font/fontello.eot?73098674");
  src: url("../font/fontello.eot?73098674#iefix") format("embedded-opentype"),
    url("../font/fontello.woff?73098674") format("woff"), url("../font/fontello.ttf?73098674") format("truetype"),
    url("../font/fontello.svg?73098674#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
